<div class="col-xs-12">
    <form class="orderForm" [formGroup]="orderForm">
        <h3>Contact</h3>
        <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput type="text" placeholder="jonh" formControlName="name" required>
        <mat-error *ngIf="orderForm.invalid">please enter a valid name</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
        <mat-label>Enter your phone number</mat-label>
        <input matInput type="number" placeholder="052-1111111" formControlName="phone" required>
        <mat-error *ngIf="orderForm.invalid">please enter a valid phone number</mat-error>
        </mat-form-field><br>
        <!-- <mat-form-field appearance="fill">
        <mat-label>Enter the flower you want to order</mat-label>
        <input matInput placeholder="rose" formControlName="flowerName" required>
        <mat-error *ngIf="orderForm.invalid">please enter what you want to interst</mat-error><br>
        </mat-form-field><br> -->
        <mat-form-field appearance="fill">
            <mat-label>please tell us more about your interest</mat-label>
            <textarea matInput>
            </textarea>
        </mat-form-field> 
        <button mat-button class="buttonSumbit" type="submit" class="btn btn-primary"
        [disabled]="orderForm.invalid"
        (click)="onSubmit()">Submit</button>
    </form>
</div>