<div class="col-xs-12">
    <form class="orderForm" [formGroup]="orderForm">
        <h3>Order</h3>
        <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput type="text" placeholder="jonh" formControlName="name" required>
        <mat-error *ngIf="orderForm.invalid">please enter a valid name</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="orderForm.invalid">please enter a valid email</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
        <mat-label>Enter your phone number</mat-label>
        <input matInput type="number" placeholder="052-1111111" formControlName="phone" required>
        <mat-error *ngIf="orderForm.invalid">please enter a valid phone number</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" placeholder="123456" formControlName="password" required>
        <mat-error *ngIf="orderForm.invalid">please enter a valid password</mat-error><br>
        </mat-form-field><br>  
        <mat-form-field appearance="fill">
        <mat-label>Enter the flower you want to order</mat-label>
        <input matInput placeholder="rose" formControlName="flowerName" required>
        <mat-error *ngIf="orderForm.invalid">please enter a valid flower name</mat-error><br>
        </mat-form-field><br> 
        <button mat-button class="buttonSumbit" type="submit" class="btn btn-primary"
        [disabled]="orderForm.invalid"
        (click)="onSubmit()">Submit</button>
    </form>
</div>