.container-fluid {
    border-color: black;
    width: 100%;
    background-color: black; 
}

#navBar {
    border-color: gray;   
}

.textNavBar {
    a {
        color: white;
        &:visited {
            background: gray;
            color: white;
        }
        &:active {
        color: black;
        }
   
    &:hover {
        color: white;
        background-color: gray;
        display: inline-block;
      
    } 
}
}
