.container-fluid {
    border-color: green;
    width: 100%;
    background-color: green; 
}

#navBar {
    border-color: gray;   
}

.textNavBar {
    a {
        color: white;
        &:visited {
            background: black;
            color: white;
        }
        &:active {
        color: black;
        }
   
    &:hover {
        color: white;
        background-color: black;
        display: inline-block;   
    } 
}
}
