<div class="col-xs-12">
    <h3 class="aboutTitle">OUR SHOP</h3>
<span class="aboutText">
      <h1>Flower Delivery from the Pros</h1>
      <h2>Expertly Designed Flower Bouquets Fresh from Our Fields</h2> 
    <p> 
        Flowers and plants are always a great gift for those you hold dear, or even yourself. Whether you're shopping for birthday flowers for your mom or you want to surprise your husband<br>
        at the office with a lush bonsai plant, we've got you covered. Browse indoor plants perfect for the hard-working college student, bountiful flower arrangements bursting with<br>
        magnificent blooms, and designer floral arrangements you can't find elsewhere. No matter the occasion, online flower deliveries will make your day shine! If you're gift shopping for a<br>
        snack fiend, browse our gourmet baskets filled to the brim with tasty eats. Want to complement that savory snack with a sweet treat? Don't forget to order a gift basket of delicious<br> 
        chocolate dipped strawberries. Pair your gourmet gift with a gorgeous flower delivery to sweeten the surprise. Send flowers today and brighten the week of a friend, family member,<br> 
        or that special someone.
    </p>
        Perfect Gifts and Flower Arrangements for Any Occasion
        Proflowers is the perfect online flower delivery destination for any occasion, whether it's your most cherished holiday or any ordinary day that calls for a spontaneous show of appreciation. Our birthday flowers can be customized with the vase of your choice or paired with a sweet treat to match the recipient's style. From romantic bouquets of roses to stargazer lilies, order flowers for delivery and bring a smile to someone's face for any and every reason. Your significant other will swoon when they receive our romantic anniversary flowers and gifts, curated with love by our expert team. And, we're here to support your gifting and flower delivery needs even when the occasion isn't a joyful one. Our sympathy flowers are tastefully arranged and hand-delivered with care to help you express your deepest condolences during a sensitive time. Each and every gift is designed to help you send the right message. And fortunately, our flower deliveries are fast and easy!

    <h2>More Than Just Flower Delivery Experts, We're Gifting Pros</h2>  
    <p> We know how to make a lasting impression with more than just flower delivery offerings. While our stunning orchids can brighten up any living space, sometimes the occasion calls<br> 
        for delectable chocolate morsels to satisfy a sweet tooth. For the more health-conscious foodies, we have thoughtfully selected fruit baskets and snack baskets, ideal for any<br> 
        occasion. Just like our floral arrangements, every gourmet food gift is delivered with a personalized message, so your warm wishes shine through. We also offer discount flowers for<br>
        lovers on a budget! If you are new to floral gifting, check out our expert flower guide, the Florapedia, to learn more about different types of flowers, flower and plant tips, and more.<br>
        Follow Proflowers on Facebook, Twitter, Instagram, and Pinterest for gifting advice and floral inspiration throughout the year.
    </p>
    <h2>Great Customer Service and Quick Flower Delivery</h2>
    <p>   
        Here at Proflowers, we want every customer to have a great flower delivery experience. We go out of our way to provide excellent customer service and ensure that you’re happy when you order flowers online. In addition to offering beautiful flowers online and a wide selection of gifts for all occasions, we also make sure that your flowers are delivered as quickly as possible.
    </p>
        That's because customer satisfaction is our top priority. In fact, we offer a satisfaction guarantee, so if for some reason you’re not satisfied with the freshness of your flowers or the condition of your gift, we’ll either replace it or refund your money! If you have any questions about your gift or flower delivery for us, we’re available to talk 24 hours a day, seven days a week. Feel free to call us, email us, or use our handy live support chat to get the help you need with your order.

        Order Flowers Online From Local and Trusted Florists
        When you order flowers online from Proflowers, you’re helping to support locally owned florists in your own community. We’re proud to partner with local florists and provide them with technology and other digital tools that allow their businesses to flourish. We make sure to only partner with local florists that we trust, and who have the same high standards for flowers as we do. Through these partnerships, we're able to offer you fresh arrangements and same day flower delivery. Support your neighborhood florist and get the freshest flower arrangements at low prices.

        Send Flowers Today with Proflowers
        Get fresh and beautiful floral arrangements delivered right to your door when you shop with Proflowers. Treat yourself to a stunning flower arrangement or send flowers to someone close to you. Whether you're ordering birthday flowers or funeral flowers, we have a fresh arrangement that's perfect for the occasion. Really, we have you covered for any gifting occasion, even those times you want to completely surprise someone and order flowers online just because.
</span>
</div>

