<div class="col-xs-12">
    <div class="row">
    <h3 class="aboutTitle">OUR plants</h3>
<div class="aboutText">
      <h1>Flower Delivery from</h1>
      <h2>Expertly High Quality Flower Bouquets Fresh from Our Fields</h2> 
    <p> 
        Flowers and plants are always an extra things for your house, or your yard.<br>
        at the office with a lush bonsai plant, we've got you covered. Browse indoor plants perfect for the hard-working college student, bountiful flower arrangements bursting with<br>
        magnificent blooms, and designer floral arrangements you can't find elsewhere. No matter the occasion, online flower deliveries will make your day shine! If you're gift shopping for a<br>
        snack fiend, browse our gourmet baskets filled to the brim with tasty eats. Want to complement that savory snack with a sweet treat? Don't forget to order a gift basket of delicious<br> 
        chocolate dipped strawberries. Pair your gourmet gift with a gorgeous flower delivery to sweeten the surprise. Send flowers today and brighten the week of a friend, family member,<br> 
        or that special someone.
    </p>
    <h2>Great Customer Service and Quick Flower Delivery</h2>
    <p>   
        Here at Proflowers, we want every customer to have a great flower delivery experience. We go out of our way to provide excellent customer service and ensure that you’re happy when you order<br>
        flowers online. In addition to offering beautiful flowers online and a wide selection of gifts for all occasions, we also make sure that your flowers are delivered as quickly as possible.
    </p>
        Order Flowers Online From Local and Trusted Florists
        When you order flowers online from Proflowers, you’re helping to support locally owned florists in your own community. We’re proud to partner with local florists and provide them with technology<br>
         and other digital tools that allow their businesses to flourish. We make sure to only partner with local florists that we trust, and who have the same high standards for flowers as we do. Through these<br>
          partnerships, we're able to offer you fresh arrangements and same day flower delivery. Support your neighborhood florist and get the freshest flower arrangements at low prices.
</div>
</div>
</div>

