<div class="col-xs-12">
    <h4 class="treesTitle">Trees</h4>
    <mat-form-field  appearance="fill" (click)="getAllTreesType()">
      <mat-label *ngIf="treeSelected">tree</mat-label>
      <mat-select value="all trees">
        <mat-option *ngFor="let tree of trees" [value]="tree"
        (click)="selectTypeOfTree(tree)">
        {{tree}}
      </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="parentTree">   
    <div class="childTreeList fullScreen" [ngClass]="{'partScreen': isSelectedItem , 'fullScreen': !isSelectedItem}">
      <app-trees-list [trees]="currentLst" (treeSelected)="treeDetails($event)"></app-trees-list>   
    </div>
    <div class="childTreeItem fullScreen">
    <div class="row">
      <div class="col-md-7">
        <div class="eachItem">
          <app-trees-detail
          (removeSelectedItem)="onRemoveSelectedItem($event)"
          *ngIf="treeSelected"
          [tree]="treeSelected">
          </app-trees-detail>
        </div>
      </div>
        <ng-template #infoText>
          <p>Please select a tree!</p>
        </ng-template>  
     </div>  
   </div>
  </div>         
  
  
  
  