<form>
  <div class="col-xs-12">
    <h4 class="flowersTitle">Flowers</h4>
    <mat-form-field appearance="fill" (click)="getAllFlowersType()">
      <mat-label *ngIf="flowerSelected">flower</mat-label>
      <mat-select value="all flowers">
        <mat-option *ngFor="let flower of flowers" [value]="flower"
        (click)="selectTypeOfFlower(flower)">
        {{flower}}
      </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<div class="parentFlower">   
  <div class="childFlowerList fullScreen" [ngClass]="{'partScreen': isSelectedItem , 'fullScreen': !isSelectedItem}">
    <app-flowers-list [flowers]="currentLst" (flowerSelected)="flowerDetails($event)"></app-flowers-list>   
  </div>
  <div class="childFlowerItem fullScreen">
  <div class="row">
    <div class="col-md-7">
      <div class="eachItem">
        <app-flowers-detail
        (removeSelectedItem)="onRemoveSelectedItem($event)"
        *ngIf="flowerSelected"
        [flower]="flowerSelected">
        </app-flowers-detail>
      </div>
    </div>
      <ng-template #infoText>
        <p>Please select a flower!</p>
      </ng-template> 
   </div>  
 </div>
</div> 




