body { 
    /* background-color: antiquewhite; */
    background: url("https://cdn.pixabay.com/photo/2016/07/05/16/53/leaves-1498985__340.jpg")   no-repeat center/cover fixed; 
   background-size: cover; 
    position:absolute; 
    height:100%; 
    width:100%;
    min-height: 100vh;
}